{% extends 'base.html.twig' %}

{% block body %}

<table>
  <tr>
    <td width="20%">
      <center>
        <a href="{{ path('homepage') }}">
          <img src="{{ asset('assets/images/icon-nuovo-intervento.svg') }}" 
	       alt="icon-nuovo-intervento" height="96" width="96"></a>
        <br>
        <a href="{{ path('homepage') }}">Nuova Uscita</a>
      </center>
    </td>
    <td width="20%">
      <center>
        <a href="{{ path('homepage') }}">
          <img src="{{ asset('assets/images/icon-print.svg') }}" 
	       alt="icon-print" height="96" width="96"></a>
	<br>
	<a href="{{ path('homepage') }}">Stampa</a>
      </center>
    </td>
    <td width="20%">
      <center>
	{% if e is null %}
        <a href="{{ path('modificaequipaggio') }}">
          <img src="{{ asset('assets/images/icon-persone.svg') }}" 
	       alt="icon-persone" height="96" width="96"></a>
        <br>
	<a href="{{ path('modificaequipaggio') }}">INIZIA TURNO</a>
        {% elseif e.fine is null %}
        <a href="{{ path('modificaequipaggio') }}">
          <img src="{{ asset('assets/images/icon-persone.svg') }}" 
	       alt="icon-persone" height="96" width="96"></a>
        <br>
	<a href="{{ path('modificaequipaggio') }}">FINE TURNO</a>
        {% else %}
        <a href="{{ path('modificaequipaggio') }}">
          <img src="{{ asset('assets/images/icon-persone.svg') }}" 
	       alt="icon-persone" height="96" width="96"></a>
        <br>
	<a href="{{ path('modificaequipaggio') }}">INIZIA TURNO</a>
	{% endif %}
      </center>
    </td>
    <td width="20%">
      <center>
	{% if e is not null %}
	  <a href="{{ path('modificaequipaggio', { 'id':e.id } ) }}">
	{% else %}
          <a href="{{ path('modificaequipaggio') }}">
	{% endif %}
          <img src="{{ asset('assets/images/icon-persone.svg') }}" 
	       alt="icon-persone" height="96" width="96"></a>
        <br>
	{% if e is not null %}
	  <a href="{{ path('modificaequipaggio', { 'id':e.id } ) }}">Equipaggio</a>
        {% else %}
	  <a href="{{ path('modificaequipaggio') }}">Equipaggio</a>
	{% endif %}
      </center>
    </td>
    <td width="20%">
      <table>
	<tr>
	  <td><font color="silver">F.V.</font></td>
          <td><font color="silver">Mezzo</font></td>
          <td><font color="silver">Quando</font></td>
          <td><font color="silver">Tipo</font></td>
	  <td><font color="silver">Inizio</font></td>
	  <td><font color="silver">Fine</font></td>
        </tr>
	<tr>
	  <td>{{ e.numeroTurno|default("-") }}</td>
          <td>{{ m.sigla|default("-") }}</td>
          <td>{{ e.quando|default("-") }}</td>
          <td>{{ e.tipo|default("-") }}</td>
	  <td>{% if e is not null %}{{ e.inizio|date("Y/m/d h:m:s") }}{% endif %}</td>
	  <td>{% if e is not null %}{% if e.fine is not null %}{{ e.fine|date("Y/m/d h:m:s") }}{% endif %}{% endif %}</td>
        </tr>
	<tr>
	  {% if e is not null %}
	    {% for x in e.idPersonaABCTLista %}
	      <td>{{x[0]}} - {{x[1]}} - {{x[2]}} - {{x[3]}}</td>
	    {% endfor %}
	  {% endif %}
	</tr>
        <tr> 
	  <td><font color="silver">Note:</font>{{ e.note|default("") }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<hr>
<hr>

<center><h1>INTERVENTI IN CORSO</h1></center>

<hr>
<hr>

<center><h1>STORICO INTERVENTI</h1></center>

<hr>
<hr>

<div align="right">
  |||||||
  <a href="{{ path('mostramezzo') }}">Gestione Mezzi</a>
  |||||||
  <a href="{{ path('mostrapersona') }}">Gestione Persone</a>
  |||||||
</div>

{% endblock %}
