{% extends 'base.html.twig' %}

{% block body %}

{# {{ form_widget(form) }} #}

{{ form_start(form) }}
<h2>
<table>

  <tr>
    <td>{{ form_label(form.idMezzo) }}</td>
    <td>{{ form_errors(form.idMezzo) }}</td>
    <td>{{ form_widget(form.idMezzo) }}</td>
    <td>{{ form_help(form.idMezzo) }}</td>
  </tr>

  <tr>
    <td>{{ form_label(form.numeroTurno) }}</td>
    <td>{{ form_errors(form.numeroTurno) }}</td>
    <td>{{ form_widget(form.numeroTurno, { 'value': equipaggio.numeroTurno } ) }}</td>
    <td>{{ form_help(form.numeroTurno) }}</td>
  </tr>

  <tr>
    <td>{{ form_label(form.tipo) }}</td>
    <td>{{ form_errors(form.tipo) }}</td>
    <td>{{ form_widget(form.tipo, { 'value': equipaggio.tipo } ) }}</td>
    <td>{{ form_help(form.tipo) }}</td>
  </tr>

  <tr>
    <td>{{ form_label(form.quando) }}</td>
    <td>{{ form_errors(form.quando) }}</td>
    <td>{{ form_widget(form.quando, { 'value': equipaggio.quando } ) }}</td>
    <td>{{ form_help(form.quando) }}</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

    <td></td>
    <td>Autista</td>
    <td></td>

    <td></td>
    <td>Capoequipaggio</td>
    <td></td>

    <td></td>
    <td>BLSD</td>
    <td></td>

    <td></td>
    <td>Tirocinante</td>
    <td></td>
  </tr>


  <tr>
    <td>{{ form_label(form.persona0) }}</td>
    <td>{{ form_errors(form.persona0) }}</td>
    <td>{{ form_widget(form.persona0) }}</td>
    <td>{{ form_help(form.persona0) }}</td>


    <td>{{ form_errors(form.autista0) }}</td>
    <td><center>{{ form_widget(form.autista0) }}</center></td>
    <td>{{ form_help(form.autista0) }}</td>


    <td>{{ form_errors(form.capoequipaggio0) }}</td>
    <td><center>{{ form_widget(form.capoequipaggio0) }}</center></td>
    <td>{{ form_help(form.capoequipaggio0) }}</td>


    <td>{{ form_errors(form.blsd0) }}</td>
    <td><center>{{ form_widget(form.blsd0) }}</center></td>
    <td>{{ form_help(form.blsd0) }}</td>


    <td>{{ form_errors(form.tirocinante0) }}</td>
    <td><center>{{ form_widget(form.tirocinante0) }}</center></td>
    <td>{{ form_help(form.tirocinante0) }}</td>

  </tr>

  <tr>
    <td>{{ form_label(form.persona1) }}</td>
    <td>{{ form_errors(form.persona1) }}</td>
    <td>{{ form_widget(form.persona1) }}</td>
    <td>{{ form_help(form.persona1) }}</td>


    <td>{{ form_errors(form.autista1) }}</td>
    <td><center>{{ form_widget(form.autista1) }}</center></td>
    <td>{{ form_help(form.autista1) }}</td>


    <td>{{ form_errors(form.capoequipaggio1) }}</td>
    <td><center>{{ form_widget(form.capoequipaggio1) }}</center></td>
    <td>{{ form_help(form.capoequipaggio1) }}</td>


    <td>{{ form_errors(form.blsd1) }}</td>
    <td><center>{{ form_widget(form.blsd1) }}</center></td>
    <td>{{ form_help(form.blsd1) }}</td>


    <td>{{ form_errors(form.tirocinante1) }}</td>
    <td><center>{{ form_widget(form.tirocinante1) }}</center></td>
    <td>{{ form_help(form.tirocinante1) }}</td>

  </tr>

  <tr>
    <td>{{ form_label(form.persona2) }}</td>
    <td>{{ form_errors(form.persona2) }}</td>
    <td>{{ form_widget(form.persona2) }}</td>
    <td>{{ form_help(form.persona2) }}</td>


    <td>{{ form_errors(form.autista2) }}</td>
    <td><center>{{ form_widget(form.autista2) }}</center></td>
    <td>{{ form_help(form.autista2) }}</td>


    <td>{{ form_errors(form.capoequipaggio2) }}</td>
    <td><center>{{ form_widget(form.capoequipaggio2) }}</center></td>
    <td>{{ form_help(form.capoequipaggio2) }}</td>


    <td>{{ form_errors(form.blsd2) }}</td>
    <td><center>{{ form_widget(form.blsd2) }}</center></td>
    <td>{{ form_help(form.blsd2) }}</td>


    <td>{{ form_errors(form.tirocinante2) }}</td>
    <td><center>{{ form_widget(form.tirocinante2) }}</center></td>
    <td>{{ form_help(form.tirocinante2) }}</td>

  </tr>

  <tr>
    <td>{{ form_label(form.persona3) }}</td>
    <td>{{ form_errors(form.persona3) }}</td>
    <td>{{ form_widget(form.persona3) }}</td>
    <td>{{ form_help(form.persona3) }}</td>


    <td>{{ form_errors(form.autista3) }}</td>
    <td><center>{{ form_widget(form.autista3) }}</center></td>
    <td>{{ form_help(form.autista3) }}</td>


    <td>{{ form_errors(form.capoequipaggio3) }}</td>
    <td><center>{{ form_widget(form.capoequipaggio3) }}</center></td>
    <td>{{ form_help(form.capoequipaggio3) }}</td>


    <td>{{ form_errors(form.blsd3) }}</td>
    <td><center>{{ form_widget(form.blsd3) }}</center></td>
    <td>{{ form_help(form.blsd3) }}</td>


    <td>{{ form_errors(form.tirocinante3) }}</td>
    <td><center>{{ form_widget(form.tirocinante3) }}</center></td>
    <td>{{ form_help(form.tirocinante3) }}</td>

  </tr>


  <tr>
    <td>{{ form_label(form.note) }}</td>
    <td>{{ form_errors(form.note) }}</td>
    <td>{{ form_widget(form.note, { 'value': equipaggio.note } ) }}</td>
    <td>{{ form_help(form.note) }}</td>
  </tr>


</h2>
</table>

{{ form_end(form) }}

<h5>-{{ equipaggio.id }}-</h5>

{% endblock %}
