{% extends 'base.html.twig' %}

{# input: personaList - array of persona #}

{% block body %}

<table>
  <tr>
    <td width="200px">
      <center>
        <a href="{{ path('homepage') }}">
          <img src="{{ asset('assets/images/icon-home.svg') }}" 
	       alt="icon-home" height="96" width="96"></a>
      </center>
    </td>
  </tr>
  <tr>
    <td><center><a href="{{ path('homepage') }}">Pagina principale</a></center></td>
  </tr>
</table>

<table id="atable">
  <thead>
    <tr>
        <td></td>
        <td></td>
        <td>Id</td>
        <td>Nome</td>
        <td>Cognome</td>
        <td>Codice fiscale</td>
	<td>Codice CRI</td>
        <td>Altro</td>
    </tr>
  </thead>
  <tbody>
  {% for persona in personaList %}
    <tr>
        <td><center><a href="{{ path('admincancellapersona', { 'id':persona.id } ) }}"
                       onclick="return confirm('\nATTENZIONE:\nVUOI ELIMINARE QUESTA PERSONA?')">
          <img src="{{ asset('assets/images/icon-delete.svg') }}" 
	       alt="icon-home" height="32" width="32"></a></canter></td>
	<td><center><a href="{{ path('adminmodificapersona', { 'id':persona.id } ) }}">
          <img src="{{ asset('assets/images/icon-edit.svg') }}" 
	       alt="icon-home" height="32" width="32"></a></center></td>
        <td>{{ persona.id }}</td>
        <td>{{ persona.nome }}</td>
        <td>{{ persona.cognome }}</td>
        <td>{{ persona.codiceFiscale }}</td>
        <td>{{ persona.codiceCRI }}</td>
        <td>{{ persona.altro }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>

<div align="right">
  <a href="{{ path('adminmodificapersona', { 'id':null } ) }}">AGGIUNGI PERSONA</a>
</div>

{% endblock %}
